.list {
  text-align: center;
}

.button {
  display: inline-block;
  border-radius: 8px;
  border-color: aquamarine;
  background: brown;
  padding: 16px;
  margin: 0 64px;
  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
  font-weight: bolder;
  color: white;
}
